$banner-width: 300px;
$banner-height: 600px;

.banner {
  background: #fff;
  cursor: pointer;
  height: $banner-height;
  left: 50%;
  margin-left: -$banner-width / 2;
  margin-top: -$banner-height / 2;
  overflow: hidden;
  position: relative;
  position: absolute;
  top: 50%;
  width: $banner-width;

  .border {
    border: 1px solid #ccc;
    display: block;
    height: $banner-height - 2;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: $banner-width - 2;
    z-index: 999;
  }
}
